<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>598640773147-ahqlf5nvn9purqpa1d7pqutpgr8h753s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598640773147-ahqlf5nvn9purqpa1d7pqutpgr8h753s</string>
	<key>API_KEY</key>
	<string>AIzaSyCUaRO9JHw31JICGf00iQUz0oXABF0jabo</string>
	<key>GCM_SENDER_ID</key>
	<string>598640773147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dustin-Hullett.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-4d7f9</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-4d7f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:598640773147:ios:8c1168c224c42acd</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-4d7f9.firebaseio.com</string>
</dict>
</plist>